<div class="form-add-product">
  <form (ngSubmit)="save()">
    <mat-form-field class="full-width">
      <input matInput placeholder="Nom du produit :" name="name" required="required" [(ngModel)]="product.name">
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-select name="categorie" placeholder="Categorie" [(ngModel)]="idCategory">
        <mat-option *ngFor="let category of categories" [value]="category.id" >
          {{category.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button type="submit" mat-raised-button name="btnaddliste" >Ajouter</button>
  </form>
</div>


